<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
Новости
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
   <h1>новости</h1>
   
   <!-- Выводим товары, только если они есть с помощью тега if -->
   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
   <hr>
   <table>
    <tr>
        <td>Заголовок</td>
        <td>Время</td>
        <td>Содержание</td>
    <tr>
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.date_in|date:"d M Y H:i:s" }}</td> <!-- Формат даты для каждой новости -->
            <td>{{ post.post_text|censor }}</td>
          
        </tr>
     
       <!-- Если товаров нет, говорим, что товаров нет ;) -->
       
{% endblock content %}